body {
    padding: 20px;
}

table {
    margin-top: 1em;
}

.issue-icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    cursor: pointer;
    border-radius: 2px;
    vertical-align: middle;
}


span.item-data:has(~ span.issue-icon.error) {
    text-decoration: underline;
    text-decoration-color: LightCoral;
}

span.item-data:has(~ span.issue-icon.warning) {
    text-decoration: underline;
    text-decoration-color: Orange;
}

.popover {
    max-width: 500px;
}

.highlight-error {
    background-color: LightCoral;
}

.highlight-warning {
    background-color: Orange;
}

.sep {
    margin: 0 0.1em;
}